* {
    color: whitesmoke
}


.introduction {
    background-image: url("../images/ignant-art-james-turrell-skyspace-zumtobel-002.jpeg");
    background-size: 100%;
    height: 800px;
    background-repeat: no-repeat;

}

.portfolio-begin {
    height: 800px;
    background-color: darkgray;
}

